p {
	
}

h1 {
	background-color: #33BEBE;
	color: white;
}

.app {
	display: flex;
	display: -webkit-flex
}

.screenshot {
	max-width: 460px;
	margin-right: 30px;
}

.description {
	width: 705px;
	color: #7C8B88;
}

* {
	font-family: sans-serif;
}
